# Bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env
*.env

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
test.py

# Ruff cache
.cache/

# logs
logs/
.log